.rtl-read {
  direction: rtl;
  display: flex;
  flex-direction: row;
  justify-content: right;
  flex-wrap: wrap;
  margin: 5%;
  border-bottom: rgb(175, 175, 175);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
